In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('learningSet.txt')
data.head()

C:\Users\karla\AppData\Local\Temp\ipykernel_15784\634960556.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('learningSet.txt')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
data_cat=data.select_dtypes(include=["object"])
data_cat

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [7]:
for c in data_cat:
  data_cat[c]=data_cat[c].replace(' ',np.NaN)

In [8]:
# Check for null values in all the columns
nulls_percent=pd.DataFrame(data_cat.isna().sum()/len(data_cat)).reset_index()
nulls_percent.columns=['column_name','null_percentage']
nulls_percent

   column_name  null_percentage
0      OSOURCE         0.009726
1        STATE         0.000000
2          ZIP         0.000000
3     MAILCODE         0.985337
4     PVASTATE         0.984719
..         ...              ...
69      RFA_2A         0.000000
70    MDMAUD_R         0.000000
71    MDMAUD_F         0.000000
72    MDMAUD_A         0.000000
73    GEOCODE2         0.003343

[74 rows x 2 columns]

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories

ZIP CODE - we are including state already

In [9]:
drop_list=[]
drop_list

[]

In [10]:
#Identify columns that over 85% missing values
columns_above_threshold=nulls_percent[nulls_percent['null_percentage']>0.85]
print(len(columns_above_threshold))

30

In [15]:
columns_above_threshold

   column_name  null_percentage
3     MAILCODE         0.985337
4     PVASTATE         0.984719
6     RECINHSE         0.929747
7        RECP3         0.978860
8      RECPGVG         0.998805
9     RECSWEEP         0.983052
15     CHILD03         0.987989
16     CHILD07         0.983587
17     CHILD12         0.981019
18     CHILD18         0.970161
21       SOLP3         0.998113
22       SOLIH         0.935019
23       MAJOR         0.996919
25    COLLECT1         0.945479
26    VETERANS         0.890727
27       BIBLE         0.907024
28       CATLG         0.917568
29       HOMEE         0.990703
31      CDPLAY         0.871568
32      STEREO         0.865908
33    PCOWNERS         0.890150
34       PHOTO         0.949839
35      CRAFTS         0.914308
36      FISHER         0.925271
37    GARDENIN         0.859535
38       BOATS         0.978745
39      WALKER         0.889940
40    KIDSTUFF         0.983901
41       CARDS         0.989089
42      PLATES         0.994131

In [ ]:
columns_above_threshold

In [12]:
#Remove those columns from the dataframe
drop_columns_list=list(columns_above_threshold['column_name'])
drop_columns_list

['MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES']

In [ ]:
#Reduce the number of categories in the column GENDER. 
#The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [18]:
data_cat['GENDER']=data_cat['GENDER'].apply(lambda x: 'other' if x in ['',' ' ,'U', 'C', 'J', 'A'] else x)
data_cat['GENDER'].value_counts()

F        51277
M        39094
other     2084
Name: GENDER, dtype: int64